*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-cont{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-heading{
  font-size: 56px;
}